.movieRow {
  margin-top: 50px;
  margin-bottom: 30px;
}

.movieRow h2 {
  margin: 0 0 8px 10px;
}

.card_list {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.card_list::-webkit-scrollbar {
  display: none;
}

.card_list img {
  width: 240px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.card_list .card {
  position: relative;
}

.card_list .card p {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 800px) {
  .movieRow {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .movieRow h2 {
    font-size: 20px;
  }

  .card_list img {
    width: 200px;
  }

  .card_list p {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .movieRow h2 {
    font-size: 15px;
  }

  .card_list img {
    width: 165px;
  }

  .card_list p {
    font-size: 10px;
  }
}

.movieRow {
  position: relative;
}

.fadeLeft,
.fadeRight {
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  z-index: 10;
}

.fadeLeft {
  left: 0;
  background: linear-gradient(to right, #141414, transparent);
}

.fadeRight {
  right: 0;
  background: linear-gradient(to left, #141414, transparent);
}
